<% include components/header %>
<!-- TITLE -->

<div class="title-container">
  <div class="title">
    <div class="title-main">Blazing fast & safe connection</div>
    <div class="title-sub">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit
      nulla consequuntur minima id eaque, assumenda ea culpa quod asperiores aut
      provident at voluptatibus, dolores, in itaque obcaecati ab iste?
    </div>
    <div class="btn-group">
      <div class="btn-secondary">Read more</div>
      <div class="btn-primary">Check out offer</div>
    </div>
  </div>
  <!-- end title -->
  <div class="girl">
    <img src="./images/assets/girl.png" alt="girl" class="img-girl" />
    <img src="./images/assets/iconClock.png" class="icon-clock" alt="" />
    <img src="./images/assets/iconCloud.png" class="icon-cloud" alt="" />
    <img src="./images/assets/iconPhone.png" class="icon-phone" alt="" />
    <img src="./images/assets/iconYoutube.png" class="icon-youtube" alt="" />
  </div>
</div>

<!-- KEY FEATURES -->
<div class="keyFeature-container">
  <div class="keyFeature">
    <div class="keyFeature__img">
      <img src="./images/assets/imgManAndGirl.png" alt="" />
    </div>
    <div class="keyFeature__content">
      <div class="keyFeature__btn">KEY FEATURES</div>
      <div class="keyFeature__title-main">
        With our packets u get connected to all media.
      </div>
      <div class="keyFeature__title-sub">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo.
      </div>
      <div class="keyFeature-number">
        <div class="__250">
          <span class="count" data-target="250">0</span>
          <span>Mb</span>
          <div class="sub">Nulla mauris dolor, gravida a varius blandit.</div>
        </div>
        <div class="__500">
          <span class="count" data-target="500">0</span>
          <span>Mb</span>

          <div class="sub">Phasellus scele risque sapien amet.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OUR OFFER -->
<div class="ourOffer-container">
  <div class="ourOffer__btn">OUR OFFER</div>
  <div class="ourOffer__title">Choose the best option</div>
  <div class="ourOffer__flex">
    <div class="flex-item">
      <h3 class="title">Fiber Start</h3>
      <div class="numb" data-target="100">0</div>
      <div class="sub">
        Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex transcend.
      </div>
      <div class="sub2">Quantum diolor pertor</div>
      <h3 class="money">$10/month</h3>
      <div class="btn">Read more</div>
    </div>
    <!-- end-flex-item -->
    <div class="flex-item">
      <h3 class="title">Fiber Pro</h3>
      <div class="numb" data-target="250">0</div>
      <div class="sub">
        Vivamus in diam turpis. In condimentum maximus porttitor purus,
        tristique.
      </div>
      <div class="sub2">Fusce lobortis porttitor</div>
      <h3 class="money">$18/month</h3>
      <div class="btn">Read more</div>
    </div>
    <!-- end-flex-item -->
    <div style="background-color: #5d53e6" class="flex-item">
      <h3 style="color: #b5e6ff" class="title">Fiber Max</h3>
      <div style="color: white" class="numb" data-target="500">0</div>
      <div style="color: white" class="sub">
        Nunc id tellus finibus, eleifend mi vel, maximus tortor, pellentesque
        justo.
      </div>
      <div style="color: #b5e6ff" class="sub2">Fusce lobortis porttitor</div>
      <h3 style="color: #b5e6ff" class="money">$25/month</h3>
      <div style="background-color: #b5e6ff" class="btn">Read more</div>
    </div>
    <!-- end flex-item -->
  </div>
  <!-- end ourOffer__flex-->
  <div class="ourOffer__title2">For every bundle u can choose</div>
  <div class="ourOffer__flex2">
    <div class="flex-item">
      <div class="img">
        <img src="./images/assets/clockImg.png" alt="" />
      </div>
    </div>
    <div class="flex-item">
      <div class="img">
        <img src="./images/assets/phoneImg.png" alt="" />
      </div>
    </div>
    <div class="flex-item">
      <div class="img">
        <img src="./images/assets/youtubeImg.png" alt="" />
      </div>
    </div>
  </div>
  <!-- end ourOffer__flex2 -->
  <div class="contact__btn">Contact us</div>
</div>

<!-- GET ANSWERS FOR QUESTION -->
<div class="getAnswer-container">
  <div class="getAnswer">
    <div class="getAnswer__title">
      Get answers for questions about our offer
    </div>
    <div class="getAnswer__title-sub">
      Get answers for questions about our offer Vivamus in diam turpis. In
      condimentum maximus tristique. Maecenas non laoreet odio. Fusce lobortis
      porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem
      augue, fermentum nec nibh et, fringilla sollicitudin orci.
    </div>
    <div class="getAnswer-flex">
      <div class="img">
        <img src="./images/assets/imgMan.png" alt="" />
      </div>
      <div class="getAnswer-flex__icon">
        <div class="item">
          <img src="./images/assets/iconCloud.png" alt="" />
          <div class="item-name">Consetetur</div>
        </div>
        <div class="item">
          <img src="./images/assets/iconProtect.png" alt="" />
          <div class="item-name">Fusce ut velit</div>
        </div>
        <div class="item">
          <img src="./images/assets/iconPhone.png" alt="" />
          <div class="item-name">Curabitur dolor</div>
        </div>
        <div class="item">
          <img src="./images/assets/iconFingerPrint.png" alt="" />
          <div class="item-name">Congue ligula</div>
        </div>
      </div>
    </div>
  </div>

  <!-- TESTIMONIALS -->
  <div class="testimonials">
    <div class="testimonials__btn">testimonials</div>
    <div class="testimonials__content">
      <!-- <div class="backSlash">
                <img src="./images/assets/imgBackSlash.png" alt="" />
              </div> -->
      <div class="comment">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. At vero eos et accusam et
        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
      <div class="author">– Alicia McKanzey</div>
    </div>
    <div class="testimonials__img">
      <img src="./images/assets/imgGirl.png" alt="" />
    </div>
  </div>
</div>

<!-- NEWSLETTER -->
<div class="newsletter">
  <div class="newsletter__btn">newsletter</div>
  <div class="newsletter__title">Want to be informed about our promotions?</div>
  <div class="newsletter__flex">
    <div class="flex-item">
      <img src="./images/assets/imgGirl2.png" alt="" />
    </div>
    <div class="flex-item">
      <form action="">
        <input type="text" placeholder="Your name" />
        <input type="text" placeholder="Enter your email here" />
        <div class="termsAndConditions">
          <input type="checkbox" />
          <span>Agree to</span>
          <a href="#">Terms and Conditions</a>
        </div>
        <div class="btn">Sign in now</div>
      </form>
    </div>
  </div>
</div>

<% include components/footer %>
