html {
  font-size: 62.5%;
}

// variable
$textColor: red;
$backgroundColor: #00aefd;

// nested code
.header {
  background-color: $backgroundColor;
  padding: 2rem;
  &-inner {
    color: white;

    &-text {
      color: red;
      font-size: 50px;
      text-transform: capitalize;
      &:hover {
        color: orange;
      }
    }
  }
}
