   <!-- FOOTER -->
   <div class="footer">
    <div class="footer__flex">
      <div class="info">
        <p>Envato</p>
        <p>Level 13, 2 Elizabeth</p>
        <p>Victoria 3000</p>
        <p>Australia</p>
      </div>
      <div class="contact">
        Contact with us

        <div>T: +61 (0) 3 8376 6284</div>

        <div>M: noreply@envato.com</div>
      </div>
      <div class="socialNetworks">
        <div class="icon"><i class="fa fa-facebook"></i></div>
        <div class="icon"><i class="fa fa-twitter"></i></div>
        <div class="icon"><i class="fa fa-youtube"></i></div>
      </div>
    </div>
  </div>

  <div class="end">
    <div class="text">
      © 2021 Betheme by <a href="#">Muffin group </a> | All Rights
      Reserved | Powered by <a href="#"> WordPress</a>
    </div>
    <div class="scrollTop">
      <i class="fa fa-chevron-up"></i>
    </div>
  </div>
</section>
</div>
</div>
</body>
<script src="/javascripts/home.js"></script>
</html>
