html,body {
    height: 100%;
    
    overflow: hidden;
}

.menutrai {
    background: #28a745;
    width:300px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -300px;
    z-index: 2;
    transition: 0.4s;
}
.menutrai.divao{
    left:0
}
.ndto {
    height: 100%;
    transition:0.4s;
    perspective: 1000px;
}
.ndto.dichphai{
    transform: translateX(300px);
}
li.list-group-item {
    background: none;
    color: white;
    border: 1px solid;
}

h3.display-3.text-center {
    font-size: 34px;
    padding: 20px;
    color: white;
    font-weight: 400;
}

.btn {
    width: 100px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(20rem);
}

.black {
    background: #00000082;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.black.len{
    opacity: 1;
    visibility: visible;
}
.white{
    width: 100%;
    height: 100%;
    background: antiquewhite;
    transform-origin: 100% 0%;
    transition: 0.4s;
}
.white.quay { 
    transform: rotatey(-25deg);  
}